{% set css %}
  {% include "main.css" %}
{% endset %}

{% set js %}
  {% include "main.js" %}
{% endset %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
      {{ css | cssmin | safe }}
    </style>
</head>
<body>
    <h1>{{ github.stargazers }} GitHub Stars</h1>
    <script>
      {{ js | jsmin | safe }}
    </script>
</body>
</html>
